
* {
  margin: 0;
  padding: 0;
}




.oof {
  display: flex;
  justify-content: space-around;
    background-color: lightgrey;
    height: 100px
  
}

.flex-container {
  display: flex;
  justify-content: space-around;
    background-color: black;
    height: 120px;
    align-items: center;
  
}

.flex-container div{
  margin: auto;
  text-align: center;
 
  font-size: 30px;
  
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    background-color: white
}
.content div{
    margin: 30px;
}
.beaver{
    background-color: lightgrey
}
.p{
    text-align: center;
    font-family: Arial;
    color:black;
    font-size: 200%;
}

.header {
     text-align: center;
    color:yellow;
    font-family: monospace;
    font-size: 600%;
    margin-top: 50px;
        margin-bottom: 50px;
}
 
.back{
  background-color: dimgrey;

}

.donate{
    display: inline;
    
    margin-top: 30px;
    margin-right: 30px;
    
     
}

.noob {
     text-align: center;
    color:saddlebrown;
    font-family: monospace;
    font-size: 600%
}

.separator {
    margin: 0;
    padding: 0;
}

img {
   vertical-align: middle;
}

.nikk{
    margin:0px;
    font-size: 600px;
        font: Fantasy;
        
}

.ikg{
    background-color: dimgrey;
        height: 100px;
}





.nik{
    text-align: center;
    color: #ffd633;
    font-family: fantasy;
    margin: 0, 30px;
    font-size:300%
}


.nik2{
    text-align: center;
    color: aqua;
    font-family: fantasy;
    margin: 0, 30px;
    font-size:300%
        
}

.nik3{
    text-align: center;
    color:lawngreen;
    font-family: fantasy;
    margin: 0, 30px;
    font-size:300%
        
}

.nik4{
    text-align: center;
    color:orangered;
    font-family: fantasy;
    margin: 0, 30px;
    font-size:300%
        
}

.ni{
    text-align: center;
    color:skyblue;
    font-family: fantasy;
    margin: 0, 30px;
    font-size:300%
}